# Vercel
.vercel

# Nuxt dev/build outputs
.output
.vercel
.data
.nuxt
.nitro
.cache
dist

# Cache local de `wrangler dev`
.wrangler

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
content/£.txt
nul
